<div *ngIf="manufacturerPreset"
     class="rt-card mt-3 mb-4">
    <h2 class="rt-card-title">Информация о производителе</h2>
    <div class="mx-3">
        <div>Имя:           {{manufacturerPreset.manufacturer.name}}</div>
        <div>Адрес:         {{manufacturerPreset.manufacturer.address}}</div>
        <div>Телефон:       {{manufacturerPreset.manufacturer.phoneNumber}}</div>
        <div>Email:         {{manufacturerPreset.manufacturer.email}}</div>
        <div>ФИО Менеджера: {{manufacturerPreset.manufacturer.managerFullname}}</div>
    </div>
    <button class="rt-button mt-3 mb-2"
            routerLink="update">
        Редактировать
    </button>
</div>