<h2 class="rt-card-title">Информация о производителе</h2>
<form [formGroup]="form">
    <div class="input-wrapper">
        <input type="text"
               id="name"
               formControlName="name"
               inputValidate>
        <label for="name">Название</label>
    </div>
    <div class="input-wrapper">
        <input type="text"
               id="address"
               formControlName="address"
               inputValidate>
        <label for="address">Адрес</label>
    </div>
    <div class="input-wrapper">
        <input type="text"
               id="phoneNumber"
               formControlName="phoneNumber"
               inputValidate>
        <label for="phoneNumber">Телефон</label>
    </div>
    <div class="input-wrapper">
        <input type="text"
               id="email"
               formControlName="email"
               inputValidate>
        <label for="email">Email</label>
    </div>
    <div class="input-wrapper">
        <input type="text"
               id="managerFullname"
               formControlName="managerFullname"
               inputValidate>
        <label for="managerFullname">Менеджер</label>
    </div>
</form>

    