<div class="rt-card mt-3 mb-4">
    <h2 class="rt-card-title">Таблицы</h2>
    <div class="my-3">
        <button class="rt-button mb-2"
                routerLink="manufacturers">
            Производители
        </button>
        <button class="rt-button mb-2"
                routerLink="products">
            Товары
        </button>
        <button class="rt-button mb-2"
                routerLink="signers">
            Подписанты
        </button>
        <button class="rt-button mb-2"
                routerLink="invoices">
            Накладные
        </button>
    </div>
</div>